@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-monts:"Montserrat", sans-serif;
  --font-inst:"Instrument Serif", serif;
}

*{
box-sizing: border-box;
}